# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/tmp/cache/*
!/tmp/cache/
!/tmp/cache/assets/
!/tmp/cache/assets/sprockets/.keep
/storage/*
!/storage/.keep
/.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key
/config/credentials/*.enc

# Ignore dotenv environment variable files.
.env
.env.*

# Ignore node/yarn artifacts.
/node_modules
/yarn-error.log

# Ignore coverage files
/coverage

# Ignore uploaded files in development
/storage/development
/storage/test
